In [1]:
print("Hello world")

Hello world

In [2]:
age=32
print("My age is:", age)

My age is: 32

In [3]:
## F string
print(f"My age is:{age}")

My age is:32

In [5]:
## format() for printing complex sentences
name="Krish"
age=32
print("My name is {} and age is {}".format(name,age))

My name is Krish and age is 32

In [6]:
print("My name is {} and age is {}".format(age,name))    ##ordering is very important

My name is 32 and age is Krish

In [7]:
#Putting placeholder
print("My name is {firstname} and age is {age}".format(firstname=name,age=age))

My name is Krish and age is 32

In [9]:
name="shabin"
age=32
degree="B Tech"
## output: My age is 32 and i have completed: my degree of B Tech with name of shabin
print("My age is {} and i have completed: my degree of {} with name of {}".format(age,degree,name))

My age is 32 and i have completed: my degree of B Tech with name of shabin

Control Flow& Decision Making statements

In [10]:
name=input("Enter the name")

Enter the name SHABIN

In [11]:
name

'SHABIN'

In [12]:
##task
age=int(input("Enter your age"))

Enter your age 25

In [13]:
age

25

In [15]:
if age>=18 & age<=45:
    print("You are young blood")

You are young blood

In [16]:
price=int(input("Enter the Product price"))

Enter the Product price 10005

In [24]:
if price>1000:
    print("Product price is{}".format(price*0.8))
else:
    print("Product price is{}".format(price*0.7))

Product price is8004.0

In [25]:
if(price>1000):print("Thankyou and visit again")

Thankyou and visit again

In [1]:
#while loop
# kind of continuos iteration
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its timr for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its timr for retirement

In [6]:
limit=1000
while limit!=0:
    print(limit)
    limit=limit-100
else:
    print("No Money")

1000
900
800
700
600
500
400
300
200
100
No Money

In [8]:
# For loop--iterating through the collection/list
lst=['shabin',1,2,3,4,'apple','bus']

for i in lst:
    print(i)

shabin
1
2
3
4
apple
bus

In [9]:
name='shabin'
for i in name:
    print(i)

s
h
a
b
i
n

In [12]:
n=7
for i in range(0,n):
    for i in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******